<div class="container mt-3">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h3 class="text-center"><%= @list.name %></h3>
            <div class="mt-5">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 p-3">
                        <h5 class="text-center">Unfinished Tasks</h5>
                        <% for @t in @tasks %>
                            <% if !@t.finished %>
                                <div class="card col-12 mt-3 p-3 card-no-border card-dark-border">
                                  <div class="card-block tasks">
                                      <div>
                                          <% if @t.image.present? %>
                                            <%= image_tag @t.image_url.to_s, class: "medium-input" %>
                                          <% end %>
                                      </div>
                                      <div class="float-left">
                                          <span class="task-content"><%= @t.content %></span>
                                      </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                        <h5 class="text-center mt-4">Finished Tasks</h5>
                        <% for @t in @tasks %>
                            <% if @t.finished %>
                                <div class="card col-12 mt-3 p-3 card-no-border card-dark-border">
                                  <div class="card-block tasks">
                                      <div>
                                          <% if @t.image.present? %>
                                            <%= image_tag @t.image_url.to_s, class: "medium-input" %>
                                          <% end %>
                                      </div>
                                      <div class="float-left">
                                          <span class="task-content"><%= @t.content %></span>
                                      </div>
                                      <div class="float-right">
                                      </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>