<!DOCTYPE html>
<html>
<head>
  <title>ToDoList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>   
  <!--Če je uporabnik prijavljen bo prikazan meni, drugače pa ne-->
    <%= render '/layouts/nav' %>
  <% end %>
  
  <div class="container mt-4">
    <%= yield %>
  </div>

</body>
</html>
